.git
.gitignore
.env
.env.*
!.env.example
__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache
tests/
*.md
*.lock
!poetry.lock
.vscode/
.idea/
node_modules/
static/avatars/*
!static/avatars/.gitkeep
